* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montseratt, sans-serif;

}

a {
    color: #a66eb4;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0 ;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #b99e9e;
    outline: none;
}
button {
    padding: 10px;
    border-bottom: #e3e3e3 ;
    border: unset;
    cursor: pointer;

}


.error {
border-bottom: 2px solid #f10404;

}

.msg {
    border: 2px solid #d6c8d9;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.logout {
    text-align: center;
    color: #a66eb4;

}